header {
    margin:15px 25px 250px 25px;
}
header h4 {
    float: right;
}

main {
    font-size: 38px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#start-btn {
    font-size: 38px;
    width: 300px;
    height: 100px;
}

#intro-text {
    margin-bottom: 50px;
}

#answers {
    list-style-type: none;
    text-align: left;
    margin: 0;
}

.answer-btn {
    width: 100%;
    text-align: left;
    height: 50px;
}

#questions-container {
    width: 640px;
}

textarea {
    resize: none;
    font-size: 38px;
}

h1 {
    font-size: 48px;
    text-align: center;
}

#leaderboard {
    width: fit-content;
    margin: auto;
    text-align: center;
    font-size: 44px;
}
