* {
    margin: 15px;
}

header {
    margin-bottom: 250px;
}
header h4 {
    float: right;
}

main {
    font-size: 38px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#start-btn {
    font-size: 38px;
    width: 300px;
    height: 100px;
}

#intro-text {
    margin-bottom: 50px;
}

ol {
    list-style-type: lower-alpha;
}